name: CI
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  release:
    types: [created]
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true
jobs:
  checks:
    uses: zondax/_workflows/.github/workflows/_checks-ts.yaml@v6
    permissions:
      contents: read
      id-token: write
      pull-requests: write
    with:
      format_command: "check"
      enable_linting: false
      enable_coverage: false
      runs_on: "ubuntu-latest"
  publish:
    needs: [checks]
    uses: zondax/_workflows/.github/workflows/_publish-npm.yaml@v6
    permissions:
      contents: read
      id-token: write
    with:
      timeout_minutes: 15
      dry_run: ${{ github.event_name != 'release' }}
      github_app_auth: false
      npm_scope: "@kunobi"
